$colorWhite: #fff;
$colorBlue: #003087;
$colorBlue1: #002f86;
$colorBlue2: #5f84ca;
$backBlue: #063999;
$backGr1: #f5f7fa;
$textColorBl: #212121;
$textColorYl: #ffd600;
$textColorGr: #565656;
$textColorGr1: #686868;
$backGr2: #d9d9d9;
$backBlue1: #f3f7ff;
$colorGr: #787878;
$colorGr1: #f1f1f1;
$borderC: #e1e1e1;
$borderC1: #aec0df;
$borderC2: #d3def1;
$backGr3: #aaa;
$borderC3: #dfe7f2;
$textColor1: #708bbc;